html {
  background-color: #18191a;
}

header {
  background-color: #242526;
  padding: 1.5em;
  color: #e4e6eb;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
}

header svg {
  filter: drop-shadow(0 0 20px white);
  height: 1.5em;
  color: #9965f4;
}
